<form action="/answer" data-turbo="false" class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary mb-2">
  </div>
</form>
